body  {
  background-color: #226F54;

}

h1, p {
  font-family: monospace;
}

h2, h3, h4 {
  color: #43291F;
}

em {
  color: #F4F0BB;
}

span {
  color: #DA2C38;
}

span:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

li  {
  font-family: monospace;
}

li a {
  display: block;
  border-style: ridge;
  border-radius: 20px;
  margin: 2px;
  padding: 5px;
  background-color: #95B46A;
  color: #F4F0BB;
  text-align: center;

}

h1, .panel-heading {
  text-align: center;
  color: #43291F;
}

li a:hover {
  background-color: #43291F;
  color: #F4F0BB;
}

ul {
  list-style: none;
}

.horiz-navbar  {
  padding: 0;
  margin: 0;
  font-size: 16px;
  float:right;
  font-family: monospace;
}

.gallery-small  {
  position: relative;
  display: inline-block;
  padding-bottom: 1%
}

.gallery-hover {
  margin-top: 3px;
  display: none;
  position: absolute;
  z-index: 1;
}

.gallery-small:hover .gallery-hover {
  display: block;
}

.jumbotron {
  background-image: url(../img/amCharts.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: #F4F0BB;
  background-color: #545363;
  text-align: left;
}

.panel {
  background-color: #95B46A;
  padding: 3px;
  font-family: monospace;
}

.well {
  background-color: inherit;
  border-style: groove;
  border-radius: 20px;
  border-color: #F4F0BB;
  border-width: medium;
  font-family: monospace;
}

.grow  {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}

div#about-me {
  background-color: #F4F0BB;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  padding: 0;
  position: relative;
  left: 50%;
  right: 50%;
}

.fixed-container {
    background-color: #226F54;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
