body  {
  background-color: slategray;

}

.horiz-navbar  {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
}

li a:hover {
  background-color: white;
}

li {
  float: right;
}

li a {
  border-style: dotted;
  border-radius: 20px;
  margin: 2px;
  padding: 5px;
  display: block;
  text-decoration: none;
  background-color: slategray;
  color: lightgreen;
  opacity: .8;
}

.gallery-small  {
  position: relative;
  display: inline-block;
  padding-bottom: 1%
}

.gallery-hover {
  margin-top: 3px;
  display: none;
  position: absolute;
  z-index: 1;
}

.gallery-small:hover .gallery-hover {
  display: block;
}
.jumbotron {
  background-image: url(../img/amCharts.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: #545363;
}

em {
  color: white;

}
